# jupyterlab>=3.4.0
jupyterlab==3.4.0
jupyter-book>=0.15.1
ipywidgets

pandas>=2.0.0
scikit-learn>=1.3.1
scikit-surprise

# Numerical Optimization
cvxpy

# Visualization
matplotlib==3.5.2
japanize-matplotlib
seaborn>=0.11.2


# Statistics
statsmodels
linearmodels
stargazer
graphviz

pystan>=3.5.0
nest-asyncio
pgmpy

semopy>=2.3.10
rdrobust>=1.1.1

# Tree based models
ngboost
lightgbm
tree-influence

# Finance
yfinance

# Deep Learning and Image Processing
torch
torchvision
torchaudio
opencv-python

# Natural Language Processing
gensim # word2vec package
rapidfuzz # Levenshtein distance
