jupyterlab==3.4.0
jupyter-book==0.13.0
pandas==1.4.3
scikit-learn==1.1.1
matplotlib==3.5.2
japanize-matplotlib
seaborn==0.11.2
cvxpy
pystan==3.5.0
nest-asyncio
statsmodels
linearmodels
stargazer
rdrobust
graphviz
yfinance
# semopy はsemopy内のrequirementsでsklearn（もはや存在しないパッケージ）を読み込んでインストールに失敗するのでymlに書く
gensim # word2vec package
torch
torchvision
torchaudio