/* Two Column Layout 

How To Create a Two Column Layout
https://www.w3schools.com/howto/howto_css_two_columns.asp
*/
body {
    display: flex;
}
nav {
    flex: 30%;
    border: solid;
}
main {
    flex: 70%;
    border: solid;
}
/* Use one column layout if the width of window is small */
@media screen and (max-width: 600px) {
    body {
        display: block;
    }
    main, nav {
        flex: 100%;
    }
}

