<header>
    <div class="logo-area p-4">
        <a href="index.html">{{ title }}</a>
    </div>

    <nav class="navbar px-4 py-1 navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="statistics.html">統計学</a></li>
            <li class="nav-item"><a class="nav-link" href="machine_learning.html">機械学習</a></li>
            <li class="nav-item"><a class="nav-link" href="engineering.html">ソフトウェア開発</a></li>
            <li class="nav-item"><a class="nav-link" href="mathematics.html">数学</a></li>
        </ul>
    </nav>
</header>