<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
<body>
  {% include "_header.html" %}
  <main class="p-4">
    <h3>ソフトウェア開発</h3>

    <div class="border rounded my-3 p-3">
      <h4>プログラミング</h4>
      <ul>
        <li>shell</li>
        <li>ruby</li>
        <li>python</li>
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>Python</h4>
      <ul>
        {% for (url, name) in python_links.items() %}
        <li><a href="{{ url }}">{{ name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>インフラ</h4>
      <ul>
        <li>AWS: EC2</li>
        <li>AWS: Serverless</li>
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>ML Ops</h4>
      <ul>
        <li>概論</li>
        <li>例</li>
      </ul>
    </div>

  </main>
</body>
</html>