<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
<body>
  {% include "_header.html" %}
  <main class="p-4">
    <h3>ソフトウェア開発</h3>

    <div class="border rounded my-3 p-3">
      <h4>Programming</h4>
      <ul>
        <li>shell</li>
        <li>ruby</li>
        <li>python</li>
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>Python</h4>
      <ul>
        {% for path, title in python_paths %}
        <li><a href="{{ path|e }}">{{ title|e }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>Infrastructure</h4>
      <ul>
        {% for path, title in infra_paths %}
        <li><a href="{{ path }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>ML Ops</h4>
      <ul>
        <li>概論</li>
        <li>例</li>
      </ul>
    </div>

  </main>
</body>
</html>