<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
<body>
  {% include "_header.html" %}
  <main class="p-4">
    <h3>Categories</h3>
    <div class="border rounded my-3 p-3">
      <h4><a href="statistics.html">統計学</a></h4>
      <p>
          統計学、統計的因果推論などの「説明」のためのデータ分析について。
      </p>
    </div>

    <div class="border rounded my-3 p-3">
      <h4><a href="machine_learning.html">機械学習</a></h4>
      <p>
        機械学習などの予測のためのデータサイエンスについて。
      </p>
    </div>

    <div class="border rounded my-3 p-3">
      <h4><a href="engineering.html">ソフトウェア開発</a></h4>
      <p>
          主にWebアプリの開発やML Opsについて。
      </p>
    </div>

    <div class="border rounded my-3 p-3">
      <h4><a href="mathematics.html">数学</a></h4>
      <p>
        データサイエンスのための数学および数理最適化について
      </p>
    </div>

  </main>
</body>
</html>