<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
<body>
  {% include "_header.html" %}
  <main class="p-4">
    <h3>Categories</h3>
    <div class="border rounded my-3 p-3">
      <h4><a href="data_science.html"><i class="fas fa-chart-bar"></i> Data Science</a></h4>
      <p>
        データ可視化、統計的因果推論、機械学習などのデータ分析について。
      </p>
    </div>

    <div class="border rounded my-3 p-3">
      <h4><a href="engineering.html"><i class="fas fa-file-code"></i> Software Engineering</a></h4>
      <p>
          主にWebアプリの開発やML Opsについて。
      </p>
    </div>

    <div class="border rounded my-3 p-3">
      <h4><a href="mathematics.html"><i class="fas fa-square-root-alt"></i> Mathematics</a></h4>
      <p>
        データサイエンスのための数学および数理最適化について
      </p>
    </div>

  </main>
  {% include "_footer.html" %}
</body>
</html>