<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
<body>
  {% include "_header.html" %}
  <main class="p-4">
    <h3>機械学習</h3>

    <div class="border rounded my-3 p-3">
      <h4>テーブルデータ</h4>
      <ul>
        <li>線形回帰</li>
        <li>リッジ回帰</li>
        <li>Lasso</li>
        <li>SVM</li>
        <li>決定木</li>
        <li>ランダムフォレスト</li>
        <li>勾配ブースティング決定木</li>
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>自然言語処理</h4>
      <ul>
        <li>形態素解析</li>
        <li>チャンキング</li>
        <li>係り受け解析</li>
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>画像処理</h4>

    </div>

  </main>
</body>
</html>