<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
<body>
  {% include "_header.html" %}
  <main class="p-4">
    <h3><i class="fas fa-square-root-alt"></i> Mathematics</h3>

    <div class="border rounded my-3 p-3">
      <h4>微積分</h4>
      <ul>
        <li></li>
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>線形代数</h4>
      <ul>
        <li></li>
      </ul>
    </div>

    <div class="border rounded my-3 p-3">
      <h4>数理最適化</h4>
      <ul>
        <li></li>
      </ul>
    </div>

  </main>
  {% include "_footer.html" %}
</body>
</html>