<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{{ title }}</title>
<!-- Responsive: 文字サイズとか色々調節する -->
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- 余白を消す https://blog.shuffleee.com/2990/ -->
<style type="text/css">
  /* スマホ横画面用 */
  @media screen and (max-width: 480px) {
  .container{padding:0}
  div[class^="col-"] {padding:0}
  .row {margin:0;}
  }
  /* スマホ縦画面用 */
  @media screen and (max-width: 320px) {
  .container{padding:0}
  div[class^="col-"] {padding:0}
  .row {margin:0;}
  }
</style>

<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet"> 
<!-- <link href="modules/style.css" rel="stylesheet"> -->
<style type="text/css">
  img {
    width: 100%;
  }
  .nav-item {
    margin: 0 5px 0 5px;
  }
  .sticky-top a {
    text-decoration: none;
  }
  .container {
    max-width: 95%;
  }
</style>

<!-- scroll to top-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="modules/scroll_to_top/scroll_to_top.css" rel="stylesheet">
<div id="page_top"><a href="#"></a></div>
<script type="text/javascript" src="modules/scroll_to_top/scroll_to_top.js"></script>


<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>

<body><!-- body -->

<!-- header -->
<div class="alert alert-light shadow-sm sticky-top" role="alert">
  <div class="container">
      <div class="row">
              <div class="col-lg-6 align-self-center">
                  <h1 class="text-center"><a href="index.html" style="color: #2f2f22;">Erotic Image Viewer</a></h1>
              </div>
              <nav class="col-lg-6 align-self-center">
                  <ul class="nav justify-content-center">
                      <li class="nav-item mx-4"><h3><a href="2D_static.html" style="color: #2f2f22;">2D</a></h3></li>
                      <li class="nav-item mx-4"><h3><a href="3D_static.html" style="color: #2f2f22;">3D</a></h3></li>
                      <li class="nav-item mx-4"><h3><a href="3D_gif.html" style="color: #2f2f22;">3D gif</a></h3></li>
                  </ul>
              </nav>
      </div>
  </div>
</div>

<!-- contents -->
<div class="container">
  <div class="row alert alert-secondary px-1">
    <div class="container">
      <div class="row align-items-start">
        <div class="col text-center px-0"><h1>{{ title }}</h1></div>      
      </div>  
      <div class="row align-items-end alert alert-light px-1">
        <div class="col text-center px-0">
          <!-- images -->
          <div id="figure">
            <div v-for="image in images">
                <img v-lazy="image.src">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  Vue.use(VueLazyload)
  var figure = new Vue({
      el: "#figure",
      data: {
          images: [
            {% for image_path in image_paths %}
              { src: "{{ image_path }}" },
            {% endfor %}
          ]
      }
  });
</script>
</body>
</html>
