# 参考: https://jupyterbook.org/en/stable/publish/gh-pages.html#automatically-host-your-book-with-github-actions
name: deploy-book

on:
  push:
    branches:
      - master
      - develop

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Remove old artifacts
        uses: c-hive/gha-remove-artifacts@v1
        with:
          age: "1 months"
          skip-recent: 5

  deploy-book:
    needs: remove-old-artifacts
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job: [1, 2]

    container:
      image: python:3.10
      volumes:
        - .:/workdir

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: |
          uv sync

      - name: Build the book
        run: |
          # create index.md
          uv run python src/gen_index.py
          # build jupyter book
          uv run jupyter-book build ./book

      - name: Move 404.html
        run: mv 404.html ./book/_build/html/

      - name: Push the book's HTML to github-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/_build/html
